{% extends "./base.html" %}

{% block password %}
<div class='bg-[#0f0f23] w-100'>
  <div class="container bg-[#0f0f23] p-6 shadow-lg max-w-md mx-auto">
    <h2 class="text-white text-3xl font-semibold mb-6">Изменить пароль</h2>
  
    <form method="post" class="space-y-6" novalidate>
      {% csrf_token %}
      {% for field in form %}
        <div class="container relative">
          <div class="mb-6">
            <label for="{{ field.id_for_label }}" class="text-gray-400 text-sm mb-2 block">
              {{ field.label }}
            </label>
            <div class="relative">
              {{ field }}
              <span class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500">
                <img
                  src="https://cdn.animaapp.com/projects/63aaf7e2426e9824f0350c11/releases/63aaf8f2426e9824f0350c13/img/user-4@2x.svg"
                  alt="User Icon"
                  class="w-5 h-5"
                />
              </span>
            </div>
            
            {% if field.errors %}
              <div class="text-red-500 text-xs mt-1">{{ field.errors }}</div>
            {% endif %}
          </div>
        </div>
      {% endfor %} 

      {% comment %} <div class="container relative">
        <div class="mb-6">
          <label for="{{ field.id_for_label }}" class="text-gray-400 text-sm mb-2 block">
            {{ form.old_password.label }}
          </label>
          <div class="relative">
            {{ form.old_password }}
            <span class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500">
              <img
                src="https://cdn.animaapp.com/projects/63aaf7e2426e9824f0350c11/releases/63aaf8f2426e9824f0350c13/img/user-4@2x.svg"
                alt="User Icon"
                class="w-5 h-5"
              />
            </span>
          </div>
          
          {% if form.old_password.errors %}
            <div class="text-red-500 text-xs mt-1">{{ form.old_password.errors }}</div>
          {% endif %}
        </div>
      </div>

      <div class="container relative">
        <div class="mb-6">
          <label for="{{ field.id_for_label }}" class="text-gray-400 text-sm mb-2 block">
            {{ form.new_password1.label }}
          </label>
          <div class="relative">
            {{ form.new_password1 }}
            <span class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500">
              <img
                src="https://cdn.animaapp.com/projects/63aaf7e2426e9824f0350c11/releases/63aaf8f2426e9824f0350c13/img/user-4@2x.svg"
                alt="User Icon"
                class="w-5 h-5"
              />
            </span>
          </div>
          
          {% if form.new_password1.errors %}
            <div class="text-red-500 text-xs mt-1">{{ form.new_password1.errors }}</div>
          {% endif %}
        </div>
      </div> {% endcomment %}
      
      <button type="submit" class="w-full bg-indigo-600 text-white px-4 py-3 rounded-3xl font-semibold text-lg hover:bg-indigo-700 transition-colors">
        Сохранить изменения
      </button>
    </form>
  </div>
  
</div>

{% endblock %}
